<div
  class="container-fluid"
  style="width: 80%;
height: 100%;">
  <div
    id="myTable_wrapper"
    class="dataTables_wrapper no-footer">
    <div class="row">
      <div
        id="myTable_filter"
        class="dataTables_filter ml-4">
        <label>
          Search:
          <input
            type="search"
            placeholder
            aria-controls="myTable">
        </label>
      </div>
      <div
        class="dataTables_length"
        id="myTable_length">
        <button
          type="button"
          data-toggle="modal"
          data-target="#add"
          title="Add User"
          style="float:right; margin-bottom: 5px;margin-left: 800px">
          <span class="fa fa-check"></span>
        </button>
      </div>
    </div>
    <table class="table table-striped">
      <thead class="thead-light sorting">
        <tr>
          <th>User</th>
          <th>Project Assign To</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Admin</td>
          <!-- <td>admin@gmail.com</td> -->
          <td>Employee XYZ</td>
          <td
            type="date"
            name="Start Date"></td>
          <td
            type="date"
            name="End Date"></td>
          <td>
            <button type="button" class="edit_event m-1" data-toggle="modal" data-target="#delete" title="Delete User" style="margin-bottom: 5px;"> <span class="fa fa-trash"></span> </button>
            <button type="button" class="edit_event m-1" data-toggle="modal" data-target="#edit" title="Edit User" style="margin-bottom: 5px;"> <span class="fa fa-edit"></span> </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
