<!-- <body class="background_image"> -->
  <!-- <div class="container background_image"> -->
    <!-- <section>
    <div style="background-color: rgb(73, 73, 73);height: 10px; margin-top: 105px"></div>
  </section> -->
  <!-- <section> -->
    <!-- <div class="container "> -->
        <img src="/assets/home2Img.jpg" style="    height: 100%;
        width: 100%;">
      <div class="row ">
        <div class="Absolute-Center is-Responsive">
          <div class="parent">
            <img src="/assets/logintop2.png"          
              id="logo-container" class="child"
              style="padding: 20px;background-color: rgba(73, 73, 73, 0.87);">
          </div>
          <form>
            <div style="text-align: center;padding: 31px 0px;background-color: rgba(49, 49, 49, 0.45);border: 5px solid #fff;border-radius: 10px;">
              <div>
                <input type="text" placeholder="EmailId" [(ngModel)]="loginUser.emailId" [ngModelOptions]="{standalone: true}" required style="padding: 6px;margin-bottom: 6px;border: 1px solid white;border-radius: 6px;">
              </div>
              <div>
                <input type="password" placeholder="Password" [(ngModel)]="loginUser.password"  [ngModelOptions]="{standalone: true}" required style="padding: 6px;margin-bottom: 6px;border: 1px solid white;border-radius: 6px;">
              </div>
              <div>
                <button type="submit" (click)="login()" routerLink="/landing" class="btn btn-light">
                  <span style="font-weight: bold;"> LOGIN </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    <!-- </div> -->
  <!-- </section> -->
  <div class="footer">
    <div class="footer" style="padding-bottom: 1%; padding-top: 1%;">
      <span> <i class="fa fa-copyright"></i> 2019 INNOVECTURE. All rights
        reserved | Design & Developed by <strong><a
          href="https://www.innovect.com/" style="color: #003a8e">INNOVECTURE</a></strong>
      </span>
      
    </div>
  </div>
  <!-- </div> -->
  <!-- </body> -->