<div id="mySidepanel" class="sidepanel" style="width: auto;">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"><i class="fa fa-fw fa-times"></i></a>
    <a routerLink="/landing/management"><i class="fa fa-fw fa-user mr-2"></i>User</a>
    <a routerLink="/landing/project"><i class="fa fa-fw fa-cogs mr-2"></i>Project Management</a>
    <a routerLink="/landing/role"><i class="fa fa-fw fa-cog mr-2"></i>Role Management</a>
    <a routerLink="/landing/home"><i class="fa fa-fw fa-home mr-2"></i>Home</a>
    
  </div>
  
  <button class="openbtn" (click)="openNav()"><i class="pi pi-bars"></i></button> 